<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ summary }}</p>
    <a href="{{ link }}" class="card-link">Read the full </a>
  </div>
</div>